<!--<div class="hr"></div>-->
<!-- <div class="cred" fxShow="true" fxHide.lt-md="true" style="position: fixed;bottom: 0;border-top: 1px solid; "> -->

<!-- <div class="cred" fxShow="true" fxHide.lt-md="true" style="position:sticky;bottom: 0;border-top: 1px solid; ">

    <h5>Powered by <a href="https://www.pentationanalytics.com/">Pentation Analytics</a> &reg;</h5>
</div> -->


<!-- <p>footer works!</p> -->
<div class="row" style="width: 100%; background-color: #f0f0f0; position: fixed; bottom: 0; border-top: 1px solid; border-top: 1px solid; height: 20px">    <span style="font-size: 13px; color: rgb(9 101 147); position: fixed; right: 2%; bottom: 0;">Powered by <a href="https://www.pentationanalytics.com/">Pentation Analytics</a> &reg;</span></div>