/* .content {
    padding: 7rem 0; }
.borderPadding{
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #bfc3cf;
    background: #ebebeb;
}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -27px;
    position: relative;
    cursor: pointer;
    z-index: 2;
} */



*{
    color: rgb(7, 79, 116);
}



/* .credential{
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
} */


.content {
    /* padding: 7rem 0; */
    height: 100%;
    background-image: radial-gradient(white, white, #d7d7d7);
    justify-content: center;
    justify-items: center;
    display: flex;
 }
/* .borderPadding{
    box-shadow: 1px 1px 10px 5px #007fc995;
    background: #ffffff;

} */
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -27px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}