/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-error.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-default.css";
@import "~angular-notifier/styles/types/type-info.css";


/* @media only screen and (max-width: 768px) {
   
    [class*="col-"] {
      width: 100%;
    }
} */

html, body {
    height: 100%;
}

body {
    /* font-family: "Roboto" !important; */
    font-family: sans-serif!important;
    background-color: #f1f1f1;
    color: #000000;
}
.container, .row, .col {
    margin: 0!important;
    padding: 0!important
}
table th{
    vertical-align: middle !important;
    padding: 7px!important;
}
table td{
    /* padding: 0.5rem !important; */
    padding: 0.4rem !important;
    vertical-align: middle!important;
    padding: 5px;
}
.sidenav {
    /* width: 300px; */
    width: 250px;
    /* background-color: rgb(29 38 48); */
    background-color: #053b5a!important;
    height: 100%;
    position: fixed;
    left: 0;
    top:105px;
    /* bottom: 0; */
    color: #ffffff;
    /* padding-right: 15px!important; */
    /* padding-bottom: 15px!important; */
    /* padding: 15px; */
    box-shadow: 1px 1px 10px 5px #88888895;
}

.sidenav_close {
    display: none;
}

.filterButton{
   padding-top: 5px!important;
   padding-bottom: 5px!important; 
   font-size: 15px;
}
.mainArea {
    width: 100%;
    height: 100%;
    padding:5px;
    padding-top: 105px;
    /* padding-left: 305px; */
    padding-left: 255px;
    color:#000000;
    /* position: relative; */
}

.mainArea_max{
    padding-left: 5px;
}





.mainAreaPad {
    min-height: 100%; 
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 5px #88888895;
    /* padding: 15px!important; */
    /* padding-top: 30px!important; */
    padding-top: 15px!important;

    padding-bottom: 30px!important;
}
.reportName{
    font-size: 20px;
    font-weight: bold;
}
.reportNamePad{
    /* height: 50px; */

    height: 35px;
    vertical-align: middle!important;
    /* background-color: rgb(46 84 126); */
    /* background-color: rgb(125 160 177); */
    /* background-color: #60a5fa; */
    background-color: #053b5a;

    /* padding:15px!important; */
    /* padding:1% !important; */
    padding:7px !important;

    padding-left: 20px!important;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.reportTimePad{
    /* height: auto; */
    height: 50px;
    background-color: rgba(0, 255, 76, 0.219);
    padding:15px!important;
    padding-bottom: 0px;
    padding-left: 20px!important;
    font-size: 12px;
    margin-bottom: 20px!important;
    color: #242424b4;
    border-radius: 10px;
}

/* .reportTimePad:hover{
    animation-name: example;
    animation-duration: 10s;
} */

@keyframes example {
  from {background-color: rgba(0, 255, 76, 0.219);
        color: #242424b4}
  to {background-color: rgba(0, 255, 55, 0.685);
      color: #242424}
}

.downloadButton{
    background-color: transparent;
    border: none;
    color:#ffffff;
    margin-top: -10px!important;
}

.multiselectFilter {
    margin-bottom: 10px!important;
}

/* ng-multiselect-dropdown {
    display: inline-block;
    background: #3c3c3c52;
    border:none;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
} */

.multiselect-dropdown, .dropdown-btn {
    /* display: inline-block; */
    /* border: 1px solid #ff0000 !important; */
    border: none !important;
    /* background: #3c3c3c52 !important; */
    /* border-radius: 30px !important; */
    /* height: 30px !important; */
    /* padding-top: 1px !important; */
   
}
.dropdown-btn {
    margin-top: 5px !important;
    /* background-color: transparent !important; */
    /* padding-top: 0px !important; */
}

.filterApplyButton{
    width:100%;
    color: #ffffff; 
    height: 35px;
    /* background-color: rgb(0, 95, 204); */
    background-color: #0284c7;
}

.filterLabel{
    font-size: 13px; 
    font-weight: bold;
}


.columnColor{
    text-align: center; 
    /* background-color: rgb(0, 40, 87);  */
    /* background-color: rgb(88, 100, 114);
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff; */

    /* background-color: #e0f5ff; */
    /* background-color: #bfdbfe; */
    background-color: #AED6F1;
    /* border: 1px solid rgb(106 106 106) !important; */
    border: 1px solid #b7b5b5 !important;

    color: #4e4e4e;
}

.rowColor_CLtotal {
    /* background-color: rgb(191, 224, 255); */
    /* background-color: rgb(158 184 209 / 56%);; */
    background-color: #dbeafebf;
}
.tableColumnStyle {
    /* border: 1px solid rgb(122, 122, 122)!important; */
    border: 1px solid #b7b5b5!important;

}

.reportArea {
    width:100%; 
    overflow: scroll; 
    max-height: 450px;
    border: 1px solid rgb(122, 122, 122)!important;
}

tr{
    font-size: 13px!important;
    height: 30px!important;
    text-align: center;
    /* padding: 0.5%!important; */

}
/* th{
    padding: 1%!important;
    height: 30px!important;
}
td{
    padding: 0.5%!important;
    height: 30px!important;
} */



.filterButtonArea::-webkit-scrollbar {
    width: 5px;
  }  
  /* Track */
  .filterButtonArea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }  
  /* Handle */
  .filterButtonArea::-webkit-scrollbar-thumb {
    background: #888;
  }  
  /* Handle on hover */
  .filterButtonArea::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




  /* .reportArea::-webkit-scrollbar {
    width: 5px;
  }   */

  /* Track */
  .reportArea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }  
  /* Handle */
  .reportArea::-webkit-scrollbar-thumb {
    background: #888;
  }  
  /* Handle on hover */
  .reportArea::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  .growth{
    /* background-color: #d9f99d !important; */
    color: green;
  }

  .degrowth{
    /* background-color: #fdba74 !important; */
    color:red
  }





.toogleSidenav{
    /* background-color: #053b5a; */
    background-color: #0284c7;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    border: none;
    top: 120px;
    left: 265px;
    opacity: 25%;



}

.toogleSidenav:hover{
    opacity: 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
}


.toogleSidenav_close {
    left: 15px;
}